<div class ="row collapse paragraph">
  <p> 
    <span class="small-10 large-2 columns">
      <%= wish.text_field :nickname, :placeholder => "josh's nickname" %>
    </span> 
    <span class="small-10 large-4 columns"> 
      <%= wish.text_field :favmem, :placeholder => "favorite memory" %>
    </span> 
    <span class="small-10 large-4 columns"> 
      <%= wish.text_field :thought, :placeholder => "opinion of that memory" %>
    </span> 
    <span class="small-10 large-4 columns">
      <%= wish.text_field :first, :placeholder => "first wish" %>
    </span> 
    <span class="small-10 large-4 columns"> 
      <%= wish.text_field :second, :placeholder => "second wish" %>
    </span> 
    <span class="small-10 large-4 columns"> 
      <%= wish.text_field :third, :placeholder => "third wish"%>
    </span>
    <span class="small-10 large-4 columns">
      <%= wish.text_field :omen, :placeholder => "something you don't wish" %>
    </span>
    <span class="small-10 large-3 columns">
      <%= wish.text_field :salutation, :placeholder => "ur version 'peace-out'" %>
    </span> 

    <span class="small-10 large-3 columns">
      <%= wish.text_field :wisher, :placeholder => "your (nick)name" %>
    </span> 

    <span class="small-10 large-3 columns">
      <%= wish.text_field :relationship, :placeholder => "your relationship to Josh" %>
    </span> 

    <span class="small-10 columns">
      <%= wish.text_field :ps, :placeholder => "personal message" %>
    </span>
    <span class="small-10 columns">
      <%= wish.submit %>
    </span>
  </p>
</div>


