<div class = "row">
  <div class = "small-10 large-8" id = "preview">
    <div class="wish-heading"><h3> Wish Preview </h3></div>
    <div class = "paragraph">
      <span class="blank">(Josh's nickname)</span>,
    </div> 
    <div class = "paragraph">
      This past year, my favorite memory of you was 
      <span class= "blank"> (favorite memory) </span>.  I totally thought, <br> 
      "<span class= "blank"> (opinion of that memory) </span>"
    </div>
    <div class = "paragraph">
      For the first year of your 30s, I wish you <span class= "blank"> (first wish) </span>, <span class= "blank"> (second wish) </span>, and <span class= "blank"> (third wish) </span>, but not <span class= "blank"> (something you didn't wish for the bday boy) </span>.
    </div>
    <div class = "paragraph"> <span class= "blank"> (personal saluatation) </span>, </div>
    <div class = "paragraph"> <%= current_friend.name %>,  your <span class = "blank"> (relationship to josh) </span> </div>
    <div class = "paragraph"> PS. <span class = "blank"> (personal message) <span></div>
    </div>
  </div>
</div>

<div class = "row">
  <form>
    <div class="wish-heading"><h3>Fill-in-the-Wish Form</h3></div>
    <div class = "small-10 large-8" id="wish-form">
      <%= form_for @wish, url: {action: "new"} do |wish| %>
      <div class ="row collapse paragraph">
        <p> 
          <span class="small-10 large-2 columns">
            <%= wish.text_field :nickname, :placeholder => "josh's nickname" %>
          </span> 
          <span class="small-10 large-4 columns"> 
            <%= wish.text_field :favmem, :placeholder => "favorite memory" %>
          </span> 
          <span class="small-10 large-4 columns"> 
            <%= wish.text_field :thought, :placeholder => "opinion of that memory" %>
          </span> 
          <span class="small-10 large-4 columns">
            <%= wish.text_field :first, :placeholder => "first wish" %>
          </span> 
          <span class="small-10 large-4 columns"> 
            <%= wish.text_field :second, :placeholder => "second wish" %>
          </span> 
          <span class="small-10 large-4 columns"> 
            <%= wish.text_field :third, :placeholder => "third wish"%>
          </span>
          <span class="small-10 large-4 columns">
            <%= wish.text_field :omen, :placeholder => "something you don't wish" %>
          </span>
          <span class="small-10 large-3 columns">
            <%= wish.text_field :salutation, :placeholder => "ur version 'peace-out'" %>
          </span> 
          <span class="small-10 columns">
            <%= wish.text_field :ps, :placeholder => "personal message" %>
          </span>
          <span class="small-10 columns">
            <%= wish.submit %>
          </span>
        </p>
      <% end %>
      </div>
    </div>
  </form>
</dov>
  
  
