<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Happy Birthday, Boovius!" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <!--top nav bar -->
    <div class="contain-to-grid fixed" id="user-widget">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <% if current_friend%>
          <li class="name">
            <h1>Welcome <strong><%= current_friend.name %></strong>!</h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="active"><%= link_to "Make a Wish", "/friends/:friend_id/wishes/new" %> </li>
            <li class="divider"></li>
            <li> <%= link_to "Sign out", signout_path, id: "sign_out" %> </li>
          </ul>
        </section>
          <% else %>
        <section class="top-bar-section">
          <ul class="left">
            <li> <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %> </li>
          </ul>
        <% end %>
        </section>
      </nav>
    </div>
  <!--end nav bar -->

  <!--banner-->
  <section id="banner">
    <div class="row">
      <div class="large-12 columns">
        <%= image_tag "madlibsbanner.png"%>
        <div>
          <h3>World's Greatest Surprise Birthday Card Using World's Greatest Word Game</h3>
          <div> (Happy Birthday, Josh) </div>
        </div>
      </div>
    </div>
 
  <!-- end banner -->
  </section>


    <%= yield %>
    
    
  </body>

  <%= javascript_include_tag "application" %>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
</html>