<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid fixed" id="user-widget">
      <header class="banner"></header>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <% if current_friend%>
              <h1>Welcome <strong><%= current_friend.name %></strong>!</h1>
          </li>
        </ul>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
            <% else %>
              <section class="top-bar-section">
                <ul class="left">
                  <li> <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %> </li>
                </ul>
            <% end %>
                <ul class="right">
                  <li class="active"><a href="#">Right Nav Button Active</a></li>
                </ul>
        </section>
      </nav>
    </div>


    <%= yield %>
    <%= javascript_include_tag "application" %>
     <script src="js/foundation/foundation.js"></script>
     <script src="js/foundation/foundation.topbar.js"></script>
  </body>
</html>